ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    text-align: center;
}
    li:first-child {
        background-color:red;
        width: 100%;
    }

    li:last-child {
        background-color:purple;
        width: 100%;
    }
    li:nth-child(2) {
        background-color: peru;
    }