@import "flex.scss";
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

$gutter : .4em;
html {
    font-family: 'Ovo', sans-serif;
    font-size:80%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html {
        font-size: 120%;
    }
}


body {
    padding:0;
    margin:0;
}

.main-header {
    text-align: center;
    background-color: #16210b;
    color: white;
    padding: $gutter;
}
    .main-header h1 {
        margin: 0;
    }

    .main-header h2 {
        font-size: 1rem;
        font-weight: normal;
    }

    /*@media all and (orientation: landscape) {
        .main-header {
            background-color: olive;
        }
    }*/

.card {
    position: relative;
    height: 30vh;
    width: 100%;
    background-size: cover;
    color:white;
    padding: $gutter;
    font-family: 'Megrim', cursive;
    @include box-sizing;
    @include flexbox;
    @include justify-content(space-around);
}
    .card--valencia {
        background-image:url(img/valencia-small.jpg);
    }
    .card[data-city="mv"] {
        background-image:url(img/mv.jpg);
    }

    .card__title {
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }

    .card__date {
        font-size: .7rem;
        margin: 0;
        text-align: center;
    }

    @media all and (min-width: 28em) {
        .card {
            background-image: url(img/valencia.jpg);
            background-position: center;
        }
    }

    .card__info {
        position: absolute;
        bottom:$gutter;
        left:$gutter;
        text-align: center;
    }

    .card__image {
        display: block;
    }
    .card__temp {
        display: block;
        font-size: 3rem;
        line-height: 1;
    }
    .card__maxt::before {
        content: "Max: "
    }
    .card__mint::before {
        content: "Min: "
    }