@charset "UTF-8";
html {
  font-size: 150%; }

body {
  font-family: 'Ovo', serif;
  padding: 0;
  margin: 0; }

/*
* Reiniciamos el estilo de los botones para iOS
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none; }

/*
* Botones
*/
.btn {
  display: inline-block;
  line-height: 1;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: .8rem;
  white-space: nowrap;
  background-color: #ff4842;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 1px; }

/**
* Nadie quiere un bot칩n con texto subrayado cuando
* hacemos hover.
*/
.btn:hover {
  text-decoration: none; }

.btn:active,
.btn:focus {
  outline: none; }

/*
* Header Styles
*/
.main-header {
  text-align: center;
  background-color: #16210b;
  color: white;
  padding: .4em; }

.main-header h1 {
  margin: 0; }

.main-header h2 {
  font-size: 1rem;
  font-weight: normal; }

/*
* M칩dulo .search
*/
.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .4em; }

.search__text {
  width: 100%; }

/*
* Estilizamos el m칩dulo de las cards, cada resumen de tiempo de
* las ciudades
*/
.card {
  position: relative;
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 3px black;
  font-family: 'Megrim', cursive;
  padding: .4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.card__title {
  margin: 0;
  text-align: center; }

.card__date {
  font-size: .7rem;
  text-align: center;
  margin: 0; }

.card__date::after, .card__date::before {
  content: " - "; }

.card__info {
  position: absolute;
  bottom: .4em;
  left: .4em;
  font-size: .7rem;
  text-align: center; }

.card__image {
  display: block; }

.card__maxt::before {
  content: "max: "; }

.card__mint::before {
  content: "min: "; }

.card__temp {
  display: block;
  font-size: 3rem;
  line-height: 1; }

/*
* A침adimos modificaciones para los posibles diferentes
* fondos de ciudades
*/
.card--valencia {
  background-image: url(../img/valencia.jpg); }

.card--mountainview {
  background-image: url(../img/mv.jpg); }
